.audio-call-start-page {
  height: 100vh;
  // background: #4b6cb7; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #182848,
  //   #4b6cb7
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: url('./startBAckground.jpg');
  background-size: cover;

  & .container {
    height: 100vh;
  }

  .btn-settings:focus,
  .btn-close:focus {
    box-shadow: none;
  }
}

.game-title {
  letter-spacing: 0.03em;
  font-size: 2.5em;
}

.game-desc {
  font-size: 1.4em;
}

.btn-start-game {
  font-size: 1.8em;
}

i {
  &.fa-times {
    font-size: 2em;
    color: white;
  }

  &.fa-cogs {
    color: white;
    font-size: 1.7em;
  }
}

.audiocall-setting-card {
  position: absolute;
  left: 70%;
  top: 12%;
  z-index: 4;
  max-height: 0rem;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  max-width: 20rem;
  border: 1px solid transparent !important;
  background-color: rgba(0, 0, 0, 0) !important;
  // box-shadow: none;
}

.audiocall-setting-card.setting-card-opened {
  max-height: 20rem;
  // border: 1px solid #18bc9c !important;
  background-color: white !important;
}
