$fontColor: #005e8d;

@mixin width-center() {
    width: 100%;
    margin: auto;
}

@mixin flexible() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexibleSpace() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin activeShadow() {
  box-shadow: 6px 6px 10px black;
}

.promo__main-container {
  max-width: 1280px;
  padding: 0 0 2% 0;
  background-color: #ecf0f1;
  margin: auto;
}

.promo__training-description {
  padding: 2% 0 0 0;

  h2 {
    text-align: center;
    margin: 0 auto 2%;
  }

  span {
    display: block;
    width: 80%;
    margin: 2% auto 2%;
    font-size: 1.3rem;
  }

  .my_video iframe {
    display: block;
    width: 60%;
    margin: auto;
  }

}

.promo__game-description {
  margin: 4% auto;
  padding: 2% 0;
  width: 80%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 8px 11px 15px #00000085;
  transition: all 0.8s;

  h3 {
    text-align: center;
    margin: 0 auto 2%;

  }

  span {
    display: block;
    width: 80%;
    margin: 2% auto 2%;
    font-size: 1.1rem;
  }
}

.promo__slider {
  margin: auto;
  width: 80%;

  img {
    max-height: 660px;
  }
}

.promo__preview {
  text-align: center;
  font-size: 1.2rem;
}

@media (hover:hover) {
  .promo__game-description:hover {
    transform: scale(0.99);
    box-shadow: 1px 1px 1px black;
    transition: all 0.8s;
    cursor: default;
  }
}

@media (max-width: 600px) {

  .promo__training-description h2 {
    text-align: center;
    margin: 20px auto 30px;
  }

  .promo__game-description{
    max-height: 600px;
    overflow: auto;
    margin: 50px auto;
    padding: 20px 0;
  }

  .promo__training-description span {
    display: block;
    width: 80%;
    margin: 40px auto 2%;
    font-size: 1.3rem;
  }
}
