@media (max-width: 800px) {
  .riddle-container {
    max-height: 50vh;
  }

  .riddle-header {
    justify-content: center;

    > button {
      margin: 10px;
    }
  }

  .difficulty-level, .difficulty-page {
    width: 40%;
  }

  .answer-form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .answer-form button {
    min-width: 110px;
    min-height: 40px;
    margin: 0 5px;
  }

  .answer-input {
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .spinner {
    left: 40%;
    top: 40%;
  }

  .answer-blocks button {
    min-width: 60%;
  }
}

@media (max-width: 480px) {
  .riddle__intro .riddle__name h2 {
    font-size: 1rem;
  }

  .riddle__intro p {
    font-size: 0.8rem;
  }

  .riddle__intro button {
    min-width: 150px;
    padding: 10px 20px;
    font-size: 1rem;
  }

  .riddle-container {
    padding: 10px;
  }

  .riddle-block {
    margin: 0;
  }

  .answer-form input::placeholder {
    font-size: 0.7rem;
  }

  .riddle-prompts {
    margin-bottom: 10px;
  }

  .answer-form button {
    margin: 5px;
  }

  .riddle-block {
    margin: 0px 0px 5px 0;
  }
}

@media (max-width: 450px) {
  .spinner {
    left: 30%;
    top: 35%;
  }

  .riddle-block,
  .translate-block {
    font-size: 0.9rem;
  }

  .difficulty-level span, .difficulty-page span {
    margin: 5px auto;
  }
}

@media (max-width: 350px) {
  .spinner {
    left: 25%;
  }

  .riddle-prompts div button {
    font-size: 0.8rem;
  }
}


@media (hover:hover) {
  .riddle__intro button:hover {
    transform: scale(0.9);
    opacity: 0.8;
    color: #005986;
    background-color: #faffcd;
    box-shadow: 1px 1px 1px black;
    transition: all 0.8s;
    cursor: pointer;
  }

  .answer-form button:hover {
    box-shadow: 1px 1px 1px black;
    transition: all 0.8s;
  }

  .answer-blocks button:hover {
    box-shadow: 1px 1px 1px black;
    transition: all 0.8s;
  }

  .audio-icon:hover i {
    color: #339a198f;
    transform: scale(1.2);
    transition: all 0.6s;
    cursor: pointer;
  }

  .mute:hover i {
    color: red;
    transform: scale(1.2);
    transition: all 0.8s;
    cursor: pointer;
  }

  .unmute:hover .crossed-note {
    color: $fontColor;
    transform: scale(1.2);
    transition: all 0.8s;
    cursor: pointer;
  }

  .unmute:hover .cross-line {
    color: $fontColor;
    transform: scale(1.2);
    transition: all 0.8s;
    transform: rotate(-236deg);
    cursor: pointer;
  }

  header button:hover {
    box-shadow: 1px 1px 10px #7b8a8b;
    transition: all 0.8s;
  }

  .riddle-prompts button:hover {
    box-shadow: 1px 1px 10px #7b8a8b;
    transition: all 0.8s;
  }

  header button:hover i {
    color: white;
    transition: all 0.8s;
    transform: rotate(360deg);
  }

  .left-arrow:hover i {
    transition: all 0.8s;
    transform: scale(1.2);
    transform: rotate(360deg);
    color: #042158;
    cursor: pointer;
  }

  .right-arrow:hover i {
    transition: all 0.8s;
    transform: scale(1.2);
    transform: rotate(-360deg);
    color: #042158;
    cursor: pointer;
  }

  .click-buttons button:hover {
    box-shadow: 1px 1px 1px #7b8a8b;
    transition: all 0.8s;
    cursor: pointer;
  }

  .statistic-button:hover {
    box-shadow: 1px 1px 1px #7b8a8b;
    color: #002e46;
    transition: all 0.8s;
    cursor: pointer;
  }
}
