.rules {
  position: absolute;
  min-height: 90%;
  min-width: 90%;
  left:50%;
  transform: translateX(-50%);
  transition: .8s;
  z-index: 999;
  &-content {
    background: #fff;
  }
  .sounds-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}