@import '../../scss/constants';
@import '../../scss/mixins';

.header{
  .fa-stack {
    width: 2em;
  }
  .buttons-container {
    .main-btn {
      @include media-mobilesmall {
        font-size: 0.8rem;
        line-height: 1.55;
      }
    }
  }
}
