.speakit {
  .card-container{
    transition: .8s;
    .card-body {
      min-height: 46px;
    }
    .word-card{
      &__img{
        object-fit: cover;
        height: 223px;
        min-height: 223px;
        min-width: 318px;
      }
    }
    .card-text{
      font-size: 1.25rem;
    }
  }
}