.card-container{
  .card-body {
    min-height: 46px;
  }
  .word-card{
    &__img{
      object-fit: cover;
      height: 223px;
    }
    &__input {
      border-top-left-radius: 1;
      border-bottom-left-radius: 1;
    }
  }
  .card-text{
    font-size: 1.25rem;
  }
}