.sign-in-text {
  color: rgb(49, 58, 61);
  background: rgba(255, 255, 255, 0.8);
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.3rem;
  padding: 0.3rem 0.7rem;
}

.pass-tip {
  background: rgba(255, 255, 255, 0.3);
  color: rgb(0, 36, 83);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

#register-eye:hover {
  cursor: pointer;
}
