body {
  background: url('../../assets/img/authorizationBack.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-in-text {
  color: rgb(175, 214, 226);
}

.pass-tip {
  background: rgba(255, 255, 255, 0.3);
  color: rgb(0, 36, 83);
}
