.Statistics {
  .display-4 {
    @media (min-width: 320px) {
      font-size: 2rem;
    }

    @media (min-width: 375px) {
      font-size: 2.4rem;
    }

    @media (min-width: 411px) {
      font-size: 2.7rem;
    }

    @media (min-width: 576px) {
      font-size: 3.5rem;
    }
  }
  .nav-link {
    color: #3498db;
  }
  .charts-tab-wrapper {
    width: 100%;
    margin: auto;
    // background-color: #ffffff;
    @media (min-width: 992px) {
      width: 80%;
    }
  }
  .charts-tab-wrapper .tab-content {
    background-color: #ffffff;
    border-radius: 0.25rem;
  }
  .nav-tabs .nav-link.active {
    border: none;
  }
  .nav-tabs .nav-item {
    margin-bottom: -3px;
  }
  // tbody {
  //   max-height: 375px;
  //   overflow: auto;
  //   &::-webkit-scrollbar {
  //     width: 0.5rem;
  //     background: transparent;
  //     border-radius: 0 0 5px 0;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background: #ccd4d8d9;
  //     border-radius: 10px;
  //   }
  // }
  // h3 {
  //   @media (max-width: 767px) {
  //     font-size: 1.6rem;
  //   }
  //   @media (max-width: 575px) {
  //     font-size: 1.2rem;
  //   }
  // }

  h4 {
    margin-top: 25px;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 1.2rem;
    }
    @media (max-width: 575px) {
      font-size: 1rem;
    }
  }

  .today-stats-wrapper,
  .all-stats-wrapper {
    margin: 0 auto;
    width: 80%;
    & li {
      @media (max-width: 474px) {
        font-size: 0.8rem;
      }
    }
  }

  .badge {
    font-size: inherit;
    @media (max-width: 474px) {
      font-size: 0.8rem;
    }
  }

  .progress {
    width: 200px;
    @media (max-width: 1023px) {
      width: 150px;
    }
    @media (max-width: 767px) {
      width: 75px;
    }
    @media (max-width: 474px) {
      display: none;
    }
  }

  .my-custom-scrollbar {
    position: relative;
    max-height: 425px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.5rem;
      background: transparent;
      border-radius: 0 0 5px 0;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccd4d8d9;
      border-radius: 10px;
    }
  }

  .table-wrapper-scroll-y {
    display: block;
  }

  th,
  td {
    width: 15%;
    text-align: center;
    @media (max-width: 575px) {
      font-size: 0.8rem;
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    min-width: 120px;
    width: 35%;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 20%;
  }

  .chart-container {
    position: relative;
    margin: auto;
    width: 700px;
    height: 350px;
    @media (max-width: 1199px) {
      width: 625px;
    }
    @media (max-width: 1023px) {
      width: 525px;
    }
    @media (max-width: 767px) {
      width: 450px;
      height: 300px;
    }
    @media (max-width: 575px) {
      width: 82.5vw;
      height: 55vw;
    }
  }
}
