.Statistics {
  h3 {
    @media (max-width: 767px) {
      font-size: 1.6rem;
    }
    @media (max-width: 575px) {
      font-size: 1.2rem;
    }
  }

  h4 {
    margin-top: 25px;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 1.2rem;
    }
    @media (max-width: 575px) {
      font-size: 1rem;
    }
  }

  .today-stats-wrapper,
  .all-stats-wrapper {
    margin: 0 auto;
    width: 80%;
    & li{
      @media (max-width: 474px) {
        font-size: 0.8rem;
      }
    }
  }

  .badge {
    font-size: inherit;
    @media (max-width: 474px) {
      font-size: 0.8rem;
    }
  }

  .progress {
    width: 200px;
    @media (max-width: 1023px) {
      width: 150px;
    }
    @media (max-width: 767px) {
      width: 75px;
    }
    @media (max-width: 474px) {
      display: none;
    }
  }

  .my-custom-scrollbar {
    position: relative;
    max-height: 425px;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

  th, td {
    width: 15%;
    text-align: center;
    @media (max-width: 575px) {
      font-size: 0.8rem;
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    min-width: 120px;
    width: 35%;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 20%;
  }

  .chart-container {
    position: relative;
    margin: auto;
    width: 700px;
    height: 350px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    @media (max-width: 1199px) {
      width: 625px;
    }
    @media (max-width: 1023px) {
      width: 525px;
    }
    @media (max-width: 767px) {
      width: 450px;
      height: 300px;
    }
    @media (max-width: 575px) {
      width: 82.5vw;
      height: 55vw;
    }
  }
}
