$fontColor: #005e8d;

.game-block {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #005e8d;
  background-color: #ffffff5c;
}

.sprint-score {
  width: 40%;
  min-height: 10vh;
  @include flexible;
  margin: auto;
  margin-bottom: 3%;
  background-color: transparent;
  position: relative;
  border: none;

  .score {
    font-size: 2rem;
    color: $fontColor;
  }

  .mute {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.progress-place  {
  width: 90%;
  @include flexible;
  position: relative;
  margin: auto;
  margin-bottom: 7%;

  & div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4%;
/*     background-color: #0080008f; */
    border: 1px solid #005e8d;
  }

  & i {
    width: 40px;
    position: absolute;
    right: 0;
  }
}

.birds,
.language-eng,
.language-rus {
  @include flexible;
  margin: 3%;
}

.birds img {
  width: 80px;
}

.click-buttons,
.press-buttons {
  width: 70%;
  @include flexibleSpace;
  margin: auto;

  button {
    margin: 3%;
    width: 40%;
    min-height: 40px;
    border-radius: 5px;
    background-color: #ffffff5c;
    border: 1px solid #005e8d;
  }
}

.button {
  @include flexible;
  width: 40px;
  height: 40px;
  background-color: #ffffff5c;
  border: 1px solid #005e8d;
}

.icon-parameters {
  font-size: 1.5rem;
  color: $fontColor;
}




