.sprint-header {
  @include flexibleSpace;
  padding: 2%;
  width: 100%;

  button {
    box-shadow: 6px 6px 10px #7b8a8b;
    transition: all 0.8s;
  }

  button i {
    transition: all 0.8s;
  }

  .button {
    @include flexible;
    width: 40px;
    height: 40px;
    background-color: #ffffff5c;
    border: 1px solid #005e8d;
    i {
      color: $fontColor;
    }
  }

  .sprint-timer {
    @include flexible;
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
    background-color: #ffffff5c;
    border: 1px solid #005e8d;
    font-size: 1.5rem;
    color: $fontColor;
  }

  .sprint-bonus-timer {
    background-color: #18bc9c4d;
    transition: all 0.2s;
  }
}
