header {
  @include flexibleSpace;
  padding: 2%;
  width: 100%;

  & div {
    @include flexible;
    width: 8.5%;
    min-height: 90px;
    border-radius: 50%;
    background-color: #ffffff5c;
    border: 1px solid #005e8d;
  }

  button {
    box-shadow: 6px 6px 10px #7b8a8b;
    transition: all 0.8s;
  }

  button i {
    transition: all 0.8s;
  }

  .timer {
    font-size: 1.5rem;
    color: $fontColor;
  }
}
