.intro__sprint {
  @include flexible();
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/sprint/intro.jpg') bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: auto;
  z-index: 4;

  h2 {
    font-size: 3rem;
    margin: 20px auto 40px;
    color: #212529;
    opacity: 0.9;
    letter-spacing: 13px;
    font-weight: 300;
    text-align: center;
    font-weight: bold;

    .rabbit {
      font-size: 1.5rem;
    }
  }

  p {
    max-width: 600px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.4;
    color: #ffffff;
    opacity: 0.9;
    font-size: 1.2rem;
    font-weight: bold;
  }

  input {
    margin: 0 20px;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
  }

  input::-webkit-inner-spin-button {
    display: none;
  }

  .sprint-difficulty-level {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    user-select: none;
    transition: all 0.8s;

    div {
      display: flex;
      justify-content: center;
    }

    span {
      text-align: center;
      font-size: 1.2rem;
      color: #fff;
      margin: 10px auto;
    }
  
    input {
      user-select: none;
    }
  }

  .sprint-user-words {
    display: flex;
    margin: 0 10px 30px 10px;
    transition: all 0.8s;

    span {
      @include flexible();
      text-align: center;
      font-size: 1.2rem;
      color: #fff;
      margin: 10px auto;
    }

    input {
      width: 25px;
      height: 25px;
      color: #fff;
      margin: 10px 10px;
    }
  }

  button {
    @include flexible();
    @include activeShadow();
    min-width: 190px;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.8;
    background-color: #0e0f0e8f;
    border-radius: 5px;
    transition: all 0.8s;
    border: 1px solid #c0cbcca6;
  }
}

