@media (hover:hover) {

  .intro button:hover {
    transform: scale(0.9);
    opacity: 0.8;
    color: #005986;
    background-color: #faffcd;
    box-shadow: 1px 1px 1px black;
    transition: all 0.8s;
    cursor: pointer;
  }

  .audio-icon:hover i {
    transform: scale(1.2);
    transition: all 0.8s;
    cursor: pointer;
  }

  .mute:hover i {
    color: red;
    transform: scale(1.2);
    transition: all 0.8s;
    cursor: pointer;
  }

  .unmute:hover .crossed-note {
    color: $fontColor;
    transform: scale(1.2);
    transition: all 0.8s;
    cursor: pointer;
  }

  .unmute:hover .cross-line {
    color: $fontColor;
    transform: scale(1.2);
    transition: all 0.8s;
    transform: rotate(-236deg);
    cursor: pointer;
  }

  header button:hover {
    box-shadow: 1px 1px 10px #7b8a8b;
    transition: all 0.8s;
  }

  header button:hover i {
    color: white;
    transition: all 0.8s;
    transform: rotate(360deg);
  }

  .left-arrow:hover i {
    transition: all 0.8s;
    transform: scale(1.2);
    transform: rotate(360deg);
    color: #042158;
    cursor: pointer;
  }

  .right-arrow:hover i {
    transition: all 0.8s;
    transform: scale(1.2);
    transform: rotate(-360deg);
    color: #042158;
    cursor: pointer;
  }

  .click-buttons button:hover {
    box-shadow: 1px 1px 1px #7b8a8b;
    transition: all 0.8s;
    cursor: pointer;
  }

  .statistic-button:hover {
    box-shadow: 1px 1px 1px #7b8a8b;
    color: #002e46;
    transition: all 0.8s;
    cursor: pointer;
  }

}
