.audio-call-wrapper {
  height: 100vh;
  background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 100%);

  .btn:active,
  .btn:focus {
    box-shadow: none;
  }

  .progress-bar {
    background: rgba(216, 191, 216, 1);
  }

  .fa,
  .fas {
    font-weight: 300;
  }

  .btn-group button {
    border: none;
    font-size: 1.6em;

    span:first-child {
      font-size: 0.7em;
      color: rgb(184, 184, 184);
    }
  }
}

i {
  font-size: 2em;
  color: white;

  &.fa-slash {
    position: relative;
    left: -50%;
  }

  &.fa-volume-up {
    font-size: 4.5em;
  }
}

.btn-repeat {
  background-color: #ffffff2a;
  border-radius: 75px;
  //   animation: pulse 3s infinite;
}

.group-list-row {
  margin-top: 10%;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 191, 216, 1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(216, 191, 216, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 191, 216, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(216, 191, 216, 1);
    box-shadow: 0 0 0 0 rgba(216, 191, 216, 1);
  }
  70% {
    -moz-box-shadow: 0 0 0 50px rgba(216, 191, 216, 0);
    box-shadow: 0 0 0 50px rgba(216, 191, 216, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(216, 191, 216, 0);
    box-shadow: 0 0 0 0 rgba(216, 191, 216, 0);
  }
}
