.audio-call-wrapper {
  height: 100%;
  // background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 100%);
  background: rgb(111, 108, 157);
  background: linear-gradient(90deg, rgba(111, 108, 157, 0.7) 0%, rgba(79, 138, 185, 0.7) 0%, rgb(164, 207, 216) 100%);

  .btn:active,
  .btn:focus {
    // box-shadow: none;
  }

  .progress-bar {
    background: rgba(216, 191, 216, 1);
  }

  .fa,
  .fas {
    font-weight: 300;
  }

  .btn-group button {
    border: none;
    font-size: 1.6em;

    span:first-child {
      font-size: 0.7em;
      color: rgb(184, 184, 184);
    }

    &:focus {
      background: transparent;
      color: white;
    }
  }

  .btn-group button:focus {
    // background: #ffffff2a;
  }
}

.text-decoration {
  text-decoration: line-through;
}

i {
  font-size: 2em;
  color: white;

  &.fa-slash {
    position: relative;
    left: -50%;
  }

  &.fa-volume-up {
    font-size: 4.5em;
  }

  &.fa-check-circle {
    color: #8ac48a;
  }
}

.btn-repeat {
  background-color: #ffffff2a;
  border-radius: 75px;
  padding: 10%;

  i {
    // padding: 20%;
  }
}

.btn-repeat.on-answer {
  padding: 3%;
  height: 28%;
  align-self: flex-end;

  i {
    font-size: 2em;
  }
}

.btn-repeat-animation {
  animation: pulse 3s infinite;
}

.group-list-row {
  margin-top: 7%;
}

.btn-dont-know {
  font-size: 1.6em;
}

.answer-col {
  // height: 20em;
  display: flex;
}

.question-col {
  padding-top: 8%;
  padding-bottom: 5%;
}

.answer-pic {
  width: 100%;
  height: 75%;
  border-radius: 100px;
  border: 2px solid white;
}

.answer-word {
  width: fit-content;
  margin: 0 auto;
  font-size: 3.5em;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 191, 216, 1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(216, 191, 216, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 191, 216, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(216, 191, 216, 1);
    box-shadow: 0 0 0 0 rgba(216, 191, 216, 1);
  }
  70% {
    -moz-box-shadow: 0 0 0 50px rgba(216, 191, 216, 0);
    box-shadow: 0 0 0 50px rgba(216, 191, 216, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(216, 191, 216, 0);
    box-shadow: 0 0 0 0 rgba(216, 191, 216, 0);
  }
}
